body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.header-top {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.header-bottom-box {
    display: block;
    margin: auto;
    background-color: blue;
    width: 450px;
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
}

.header-bottom {
    padding: 15px;
    text-align: center;
}

.img-personal {
    padding: 15px;
}

.table{
    border: 2px solid black;
}

.span-box{
    margin-top: 5px;
    display: inline-table;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

/* โครงสร้างหน้ากระดาษ */
.document{
    padding: 50px 20px; /* 50px ตัวแรกเป็นการกำหนด padding top and buttom || 20px ตัวถัดมา เป็นการกำหนด padding left and right ซึ่งเป็นการเขียนแบบย่อ */
    box-shadow:0px 0px 10px #a5a5a5 ; /* เป็นการกำหนดให้การแสดงผลคล้ายคลึงกับหน้ากระดาษ A4 มากที่สุด และทำให้ความรู้สึกเหมือนฟอร์มมากยิ่งขึ้น  */
}