* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* auto clear float */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.block-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.block-post img {
    height: 329px;
    width: auto;
}

.other-post {
    width: 25%;
    float: left;
}

.auther-box {
    padding-top: 20px;
    border-top: 1px solid #757373;
}


h1,
h2 {
    color: rgba(18, 165, 18, 0.918);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
}

.auther-text {
    font-size: 18px;
}

.other {
    margin-bottom: 40px;
}

.auther-box img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 100px;
    margin-left: 30px;
}